@import url(./styles.css);

.content-box{
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

/* Time Cards */

.card {
    border-radius: 15px 15px 20px 20px;
    background-repeat: no-repeat;
    background-position-x: 90%;
    display: flex;
    align-items: end;
}

.work-section {
    background-color: var(--primary-work);
    background-image: url(../images/icon-work.svg);
    background-position-y: -10%;
}

.play-section {
    background-color: var(--primary-play);
    background-image: url(../images/icon-play.svg);
    background-position-y: -5%;
}

.study-section {
    background-color: var(--primary-study);
    background-image: url(../images/icon-study.svg);
    background-position-y: -5%;
}

.exercise-section {
    background-color: var(--primary-exercise);
    background-image: url(../images/icon-exercise.svg);
    background-position-y: 0;
}

.social-section {
    background-color: var(--primary-social);
    background-image: url(../images/icon-social.svg);
    background-position-y: -10%;
}

.self-care-section {
    background-color: var(--primary-self-care);
    background-image: url(../images/icon-self-care.svg);
    background-position-y: 0;
}

.card-body {
    width: 100%;
    height: 56.97%;
    background-color: var(--neutral-dark-blue);
    border-radius: 15px;
    padding:11.76471% 12.295082%;
}

.card-body:hover {
    background-color: #33397A;
    cursor: pointer;
}

.card-body-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.ellipsis-icons{
    height: 100%;
}

.ellipsis-icons:hover{
    filter: contrast(2) brightness(2);
}


@media (max-width: 1200px){
    .content-box {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .social-section{
        grid-column-start: 2;
    }

    .self-care-section{
        grid-column-start: 3;
    }
}

@media (max-width: 767px){
    .content-box {
        grid-template-columns: auto;
        grid-template-rows: unset;
    }

    .card {
        height: 160px;
    }

    .card-body {
        height: 66px;
        padding:28px 20px;
    }

    .card-body-header {
        margin-bottom: 7px;
    }

    .card-body-time-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social-section{
        grid-column-start: unset;
    }

    .self-care-section{
        grid-column-start: unset;
    }

}