@import url(./styles.css);

.profile-card {
    grid-row: span 2;
    background-color: var(--neutral-dark-blue);
    border-radius: 15px;
}

.profile-upper-body {
    height: 61.8%;
    background-color: var(--primary-blue);
    padding: 13.335% 13.33% 0;
    border-radius: 15px;
}

.profile-pic {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 3.5px solid white;
}

.profile-pic-box {
    margin-bottom: 42px;
}

.user-box h5{
    margin-bottom: 12px;
}

.profile-lower-body {
    height: 19.69112%;
    padding: 11.377% 0 0 13.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.setActiveToggle{
    color:white;
}